version: "3.8"
services:
  postgres:
    image: postgres:14
    container_name: amrutam-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: amrutam
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: amrutam-redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
